:root {
    --color-green: #A8CD89;
    --color-yelow: #F4E0AF;
    --color-pink: #F9C0AB;
    --color-darkgreen: #355F2E;
}

html {
    font-family: 'Parkinsans', 'tajawal';
    font-size: 1.25rem;
    line-height: 1.2;
    color: var(--color-darkgreen);
}

body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
